
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3fd0145e8d6f91875a161b3d27abfef1
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
